@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section{
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url("../IMG/PICT.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 85%;
    margin: auto;
}

nav{
    height: 80px;
}
nav h1{
float: left;
line-height: 80px;
font-size: 45px;
font-size: inline;
color: coral;
}

nav ul{
    float: right;
    line-height: 80px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}

nav ul li a{
color: #ffa;
text-decoration: none;
text-transform: uppercase;
border-radius: 5px;
padding: 7px 8px;
}

nav ul li a:hover{
background-color: chocolate;
transition: 0.5s ease;
}

nav ul li .active{
    background-color: chocolate;
}

.article{
    width: 50%;
    text-align: center;
    margin: auto;
    transform: translateY(25vh);
}

.article h1{
    font-size: 50px;
    color: coral;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin-bottom: 25px;
}

.article p{
    font-size: 18px;
    color: #7e7e7e;
    line-height: 1.5;
    margin-bottom: 50px;
}

.article .btn{
padding: 12px 25px;
color: #fff;
letter-spacing: 1.5px;
text-transform: uppercase;
text-decoration: none;
background-color: palevioletred;
}

.article .btn:hover{
    transition: 0.5s ease;
    color: blue;
}





















